// External resources

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

// Variables

$NeuAlmostWhite: hsl(0, 0%, 98%);
$NeuMediumGray: hsl(0, 0%, 41%);
$NeuAlmostBlack: hsl(0, 0%, 8%);

// Reset

:root {
    font-size: 62.5%;
}

*,
*::after,
*::before,
body {
    box-sizing: border-box;
    margin: 0;
    direction: ltr;
}

body {
    padding: 0;
    min-height: 100dvh;
    line-height: 1.3;
    overflow-x: hidden;
}

button {
    font-family: inherit;
    border: none;
    background-color: initial;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 75dvh;
}

// Utilities

.d-block {
    display: block;
}

%d-flex {
    display: flex;
}

%m-y {
    margin: 0 auto;
}

%btn-hover {
    &:hover {
        background-color: transparent;
        color: $NeuAlmostBlack;
        outline: 1px solid $NeuAlmostBlack;
    }
}

%screen-width {
    width: 90%;
}

.btn-outline {
    border: 1px solid $NeuAlmostBlack;
    border-radius: 12px;
    padding: 0.5em 1.1em;
    @extend %btn-hover;
}

.btn-fill {
    background-color: $NeuAlmostBlack;
    color: $NeuAlmostWhite;
    border-radius: 12px;
    padding: 1em 1.8em;
    @extend %btn-hover;
}

%sub-nav-shadow {
    box-shadow: 0 0 20px 12px rgb(127 127 127 / 12%);
}

.rotate-180 {
    transform: rotate(180deg);
}

// Custom styles

body {
    font-family: "Epilogue", sans-serif;
    font-size: 1.8rem;
    background-color: $NeuAlmostWhite;
    color: $NeuAlmostBlack;
    font-weight: 500;
    padding-bottom: 2rem;
}

.container-lg {
    max-width: 1440px;
    @extend %m-y;
    @extend %screen-width;
}

.container {
    max-width: 1200px;
    @extend %m-y;
    @extend %screen-width;
}

.header-primary {
    @extend %d-flex;
    justify-content: space-between;
    padding-block: 2.5em;
    color: $NeuMediumGray;
    .nav {
        &-main {
            @extend %d-flex;
            justify-content: space-between;
            width: 100%;
        }
        &-item {
            position: relative;
        }
        &-sub {
            position: absolute;
            z-index: 99;
            left: 0;
            top: 150%;
            width: max-content;
            flex-direction: column;
            gap: 1ch;
            font-size: 1.5rem;
            padding: 1.2em;
            border-radius: 6.5px;
            @extend %sub-nav-shadow;
            background-color: $NeuAlmostWhite;
            overflow: hidden;
            display: none;
            height: 0;
            img {
                width: 15px;
            }
        }
    }
    ul {
        @extend %d-flex;
        gap: 4rem;
        img {
            cursor: pointer;
            transition: 0.5s cubic-bezier(0.72, 0, 0.15, 0.99);
        }
    }
}

li:has(img) {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 0.7rem;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.logo {
    &-main {
        margin-right: 4.5rem;
    }
    &-companies {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

a {
    &:hover,
    &:focus {
        color: $NeuAlmostBlack;
    }
    &:focus {
        outline-offset: 1rem;
    }
}

h1 {
    font-weight: 700;
    font-size: 6.5rem;
    max-width: 11ch;
}

p {
    color: $NeuMediumGray;
}

.featured {
    @extend %d-flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: stretch;
    p {
        margin-block: 5rem;
        max-width: 45ch;
    }
    .btn {
        font-weight: 700;
    }
}

.active {
    display: flex !important;
    height: auto !important;
}

canvas {
    display: none;
    &[data-expanded="true"] {
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.72, 0, 0.15, 0.99);
        animation-fill-mode: forwards;
    }
}

#menu-open {
    display: none;
    z-index: 199;
    cursor: pointer;
    background-image: url(../image/icon-menu.svg);
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
    &[data-expanded="true"] {
        animation-name: open-menu;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.72, 0, 0.15, 0.99);
        animation-fill-mode: forwards;
    }
    &[data-expanded="false"] {
        animation-name: close-menu;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.72, 0, 0.15, 0.99);
        animation-fill-mode: forwards;
    }
}

#menu-main {
    &[data-expanded="true"] {
        animation-name: slideLeft;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.72, 0, 0.15, 0.99);
        animation-fill-mode: forwards;
    }
    &[data-expanded="false"] {
        animation-name: slideRight;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.72, 0, 0.15, 0.99);
        animation-fill-mode: forwards;
    }
}

// Keyframes

@keyframes open-menu {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        background-image: url(../image/icon-close-menu.svg);
    }
}

@keyframes close-menu {
    from {
        transform: rotate(0);
        background-image: url(../image/icon-close-menu.svg);
    }
    to {
        transform: rotate(-360deg);
        background-image: url(../image/icon-menu.svg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

// Media queries (Responsiveness)

@media screen and (max-width: 500px) {
    .featured {
        flex-wrap: wrap-reverse;
        text-align: center;
        h1 {
            font-size: 3rem;
            max-width: 100%;
        }
        p {
            margin-block: 2.5rem;
        }
    }

    .content-text {
        gap: 4.5rem;
    }

    .logo {
        &-companies {
            img {
                max-width: 70px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    canvas {
        width: 100dvw;
        height: 100dvh;
        position: fixed;
        background-color: rgba(110, 110, 110, 0.2);
        backdrop-filter: blur(10px);
        // opacity: 0;
    }
    .nav {
        &-main {
            transform: translateX(100%);
            padding: 1em;
            padding-top: 10rem;
            flex-direction: column;
            position: fixed;
            background-color: $NeuAlmostWhite;
            right: 0;
            top: 0;
            width: 65dvw !important;
            height: 100dvh;
            justify-content: flex-start !important;
            z-index: 99;
            > * {
                flex-direction: column;
            }
            ul {
                gap: 2rem;
            }
        }
        &-sub {
            box-shadow: none !important;
            position: static !important;
        }
        &-item {
            flex-wrap: wrap;
        }
        &-sign {
            margin-top: 3rem;
            ul {
                flex-direction: column;
                a {
                    display: block;
                    text-align: center;
                }
            }
        }
    }
    #menu-open {
        display: inline-block;
    }
}
